* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;


}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: #ECF0F1;
    
}

h1{
    color: #34495E;
    font-size: 30px;
    text-align: center;
    

}
.primerul{
    display: inline-block;
    padding: 0px 7px;

}

a{
    color: #34495E;
    text-decoration: none;

}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 100%;
    z-index: 999;
    
    
}
ul li:hover .menu-vertical{
    display: list-item;
    background-color: #ECF0F1
}

.logo{
    display: inline;
    position: relative;
    top: 0px;
    right: 38%;
    
}